@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h2>Are you sure you want to delete this?</h2>

<h2>Patron Name: @Html.DisplayFor(model => model.PName)</h2>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")