@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Librarian

<h4>Add a new librarian</h4>

<p>@Html.ValidationMessageFor(model => model.LName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())

{
  @Html.LabelFor(model => model.LName, "Librarian Name")
  @Html.TextBoxFor(model => model.LName)

  <input type="submit" class="button" value="Add new Librarian" />
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>